@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #5171f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  position: relative;
}
p {
  text-align: center;
  font-size: 18px;
}
h1 {
  position: absolute;
  top: 30px;
}
button {
  position: absolute;
  bottom: 20px;
  width: 130px;
  height: 40px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  background-color: #5171f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.separation {
  position: absolute;
  bottom: 85px;
  width: 90%;
  height: 1.25px;
  background-color: rgb(174, 173, 173);
  border-radius: 5px;
}

/* responsivenesse */
/* tablets */
@media screen and (min-width: 600px) {
  .container {
    width: 550px;
    height: 320px;
  }
  h1 {
    font-size: 42px;
  }
  .separation{
      bottom: 100px;

  }
  p,
  button {
    font-size: 24px;
    bottom: 30px;
  }
  button {
    width: 150px;
    height: 50px;
  }
}
/* mobiles */
@media screen and (min-width: 992px) {
  .container {
    width: 700px;
    height: 400px;
  }
  h1 {
    font-size: 42px;
  }
  .separation{
    bottom: 130px;
  }
  p,
  button {
    font-size: 28px;
  }
  button {
    width: 190px;
    height: 60px;
    bottom: 40px;
  }
}
